.App {
  text-align: center;
  color: white;
  border-radius: 4px;
  background: #3a3f49;
  margin: 2em;
  padding: 0 2em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App > h1{
  position: relative;
}
.App > h1 > .icon-logout{
  font-size: 0.8em;
  position: absolute;
  right: 4px;
  bottom: 0;
}
.App > nav{
  color: #787d85;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.84em;
}
.App > nav > div{
  border-radius: 4px 4px 0 0;
  padding: 0.5em;
  width: 25%;
}
.App > nav > div.active{
  color: white;
  background: linear-gradient(#494f5f 0%, #3a3f49 100%);
  box-shadow: 1px -1px 1px hsla(0,0%,0%,0.15), -1px -1px 1px hsla(0,0%,0%,0.15);
}
.App > .todoList > li:first-child{
  border-top: 1px solid #787d85;
}
.App > .todoList > li{
  border-bottom: 1px solid #787d85;
}