.TodoItem{
  padding: 0.5em;
  display: flex;
  align-items: center;
}
.TodoItem .iconfont{
  font-size: 1.2em;
}
.TodoItem > .icon-checked{  
  color: #61dbfb;
}
.TodoItem > .title{
  flex: 1;
  padding: 0.5em;
}
.TodoItem > .title.completed{
  text-decoration: line-through;
}
.TodoItem .icon-destroy{
  font-size: 1.2em;
  margin-left: 1.2em;
  color: #d81e06;
}