.TodoItem{
  padding: 0.5em;
  display: flex;
  align-items: center;
}
.TodoItem > .icon-checked{  
  color: #61dbfb;
  font-size: 1.2em;
}
.TodoItem > .icon-checkbox{
  font-size: 1.2em;
}
.TodoItem > .title{
  flex: 1;
  padding: 0.5em;
}
.TodoItem > .title.completed{
  text-decoration: line-through;
}
.TodoItem > .icon-delete{
  font-size: 1.5em;
}
.TodoItem > .icon-recover{
  font-size: 1.5em;
}