.TodoItem{
  padding: 0.5em;
  display: flex;
  align-items: center;
}
.TodoItem > .title{
  flex: 1;
  padding: 0.5em;
}
.TodoItem > .title[data-status="completed"]{
  text-decoration: line-through;
}
.TodoItem > .iconfont{
  font-size: 1.8em;
}